.resume{
    background-color: hsla(0, 100%, 98%, 0.674);
    width: 100%;
    margin: auto;
    height: auto;
}


.genInfo{
    margin: auto;
}

button{
    margin: 0px 2px;
    padding: 2px;
}

.allForms{
    padding: 25px;
    margin: auto;
}

.genInfoForm{
    display: flex;
    margin: auto;
    gap: 10px;
    padding: 20px;
}

.educationForm{
    display: flex;
    margin: auto;
    gap: 10px;
    padding: 20px;
}

.workExpForm{
    
}